.git
.go-pkg-cache
.gopath
bundles
bin
pkg
src
vendor
cli/winresources/**/winres.json
cli/winresources/**/*.syso
cli/winresources/**/*.dll
cli/winresources/**/*.exe
cli/winresources/**/*.ico
cli/winresources/**/*.manifest
cli/winresources/**/*.config
cli/winresources/**/*.exe.manifest
cli/winresources/**/*.pdb
cli/winresources/**/*.exe.pdb

vendor/pkg
vendor/src
vendor/vendor
vendor/vendor/src
vendor/vendor/vendor
vendor/vendor/vendor/src
vendor/vendor/vendor/src/vendor

.git/

build
dist
*.egg-info
*.egg/
*.pyc
*.swp

.tox
.coverage
html/*
__pycache__

# Compiled Documentation
docs/_build